* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    --font-family:"Sen",sans-serif;
    --primary-color:#FFB900;
}

/* common */
 a {
    text-decoration: none;
 }

 .font-family-sen {
    color: #171100;
    font-family: Sen;
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 1.26; /* 126.316% */
    letter-spacing: -0.76px;
 }

 .line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
 }

.line-clamp-line-2 {
    --line-clamp: 2;
}

.p {
    color: #5F5B53;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75; /* 175% */
}

 .btn{
    display: flex;
    width: 118px;
    height: 50px;
    border-radius:999px;
    background: #171100;
    color: #FFF;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.85;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.9;
}

.content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin:0 auto;
}

/* header */
.header {
    /* background-color: orange; */
    padding: 28px 0 0;
    background-color: #FFFCF4;
    /* background-color: orange; */
}

.fixed {
    position: sticky;
    top: -28px;
    z-index: 1;
}

.header .top_header {
    display: flex;
    padding: 8px 0;

}

.header .top_header .logo{
    display: flex;
    cursor: pointer;
}
.header .nav {
    display: flex;
    margin-left: auto;
    align-items: center;
}

.header .nav ul  {
    display: flex;
    position: relative;
}

.header .nav a { 
    display: flex;
    padding: 8px 21px;
    color: #171100;
}

.header .top_header .active{
    font-weight: 600;
    position: relative;
}

.header .top_header .active::after{
    position: absolute;
    content: " ";
    display:block;
    left: 22px;
    top:31px;
    width: 12px;
    height: 2px;
    background-color:#171100;
}

.header .top_header .nav ul li a:hover {
    text-shadow: 1px 1px 1px #171100;
}

.header .top_header .nav li:first-child a:hover {
    text-shadow: none;
}

.header .top_header .header_btn {
    border-radius: 24.5px;
    background: #171100;
    margin-left: 49px;
    width: 144px;
    height: 50px;
    color: #FFF;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75; /* 175% */
    cursor: pointer;
}

/* hero */
.hero {
    padding: 56px 0 65px 0;
    background-color: #FFFCF4;
    /* background-color: orange; */
}

.hero .main-hero {
    display: flex;
}

.hero .main-left {
    width: 48%;
    position: relative;
}

.hero .main-right {
    width: 52%;
}

/* main-left */

.hero .main-left .hero-img {
    display: block;
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.hero .main-hero .list-main {
    position: absolute;
    padding: 24px;
    right: -72px;
    bottom: 48px;
    background:#fff;
    width: 270px;
    border-radius: 12px;
}

.hero .main-hero .list-main .item {
    display: flex;
    align-items: center;
}

.hero .main-hero .list-main .item + .item {
    margin-top: 22px;
}

.hero .main-hero .list-main .item:nth-child(2) .icon {
    background-color: #FCEFFF;
}

.hero .main-hero .list-main .item:nth-child(3) .icon {
    background-color: #EBEAFF;
}

.hero .main-hero .list-main .item .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 16px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color:#FFF9E8 ;
}

.hero .main-hero .list-main .title {
    color: #5F5B53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85; /* 185.714% */
}

.hero .main-hero .list-main .desc {
    font-size:1.8rem;
    font-weight: 600;
}

/* main-right */
.hero .main-right {
    padding-top: 64px;
    margin-left: 230px;
}

.hero .main-right .title {
    font-size: 5.8rem;
    letter-spacing: -1.16px;
    margin-bottom: 22px;
}

.hero .main-right .desc {
    font-size: 1.8rem;

}

.hero .main-right .cta {
    margin-top: 38px;
    display: flex;
    align-items: center;
}

.hero .main-right .cta .play-btn {
    background-color: var(--primary-color);
    border: none;
    min-width: 180px;
    height: 64px ;  
    color: #FFF;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66; /* 166.667% */
    margin-right: 28px;
}

.hero .main-hero .watch-video {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.hero .main-hero .watch-video .sub-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #FFFFFF;
    /* background-color: orange; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0 14px 0 0 ;
}

.hero .main-hero .watch-video span {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66; /* 166.667% */
}

.hero .main-right .sub-desc {
    margin-top: 48px;
    font-size: 1.8rem;
}

.hero .main-right .coursce {
    display: flex;
    margin-top: 8px;
}

.hero .main-right .coursce strong {
    color: #171100;
    font-family: var(--font-family);
    font-size: 4.4rem;
    font-weight: 700;
    line-height: 1.22; /* 122.727% */
    margin-right: 14px;
}

.hero .main-right .coursce p {
    font-size: 1.8rem;
    margin-right: 28px;
}

/* popular */
.popular {
    margin-top: 135px;
    padding: 65px 0;
    /* background-color: yellow; */
}

.popular .popular-top {
    display: flex;
}

.popular .top-left .heading {
    margin-bottom: 16px;
}

.popular .top-left .desc {
    width: 458px;
    font-size: 1.8rem;
}

.popular .top-right {
    display: flex;
    margin-left: auto;
    align-items: center;
    gap: 20px;
    
}

.popular .top-right .left-btn:hover {
    background-color: var(--primary-color);
    color: #FFF;
}

.popular .top-right .right-btn:hover {
    background-color: var(--primary-color);
    color: #FFF;
}

.popular .top-right .left-btn,.right-btn  {
    display:flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color:var(--primary-color);
    border :1px solid var(--primary-color);
}

.popular .popular-bottom {
    margin-top: 55px;
    display: flex;
    gap: 30px;
}

 .popular .popular-bottom .list-items {
    border-radius: 12px;
    border: 1px solid #E2DFDA;
    background: #FFF;
    width: 33.33%;

} 

.popular .popular-bottom .list-items:hover {
    border-color:transparent;
    box-shadow: 0 18px 36px 0 rgba(0, 0, 0, 0.05);
}
.popular .popular-bottom .list-items .picture {
    width: calc(100% + 2px);
    margin: -1px;
    height: 278px;
    object-fit: cover;
    border-radius: 12px 12px 0 0;
    cursor: pointer;
}

.popular .popular-bottom .infor {
    padding: 22px;
}

.popular .popular-bottom .infor .feedback {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular .infor .feedback .sub-feedback {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

.popular .sub-feedback span {
    color: #FEA31B;
    font-weight: 400;
}

.popular .popular-bottom .title a {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    padding-right: 20px;
}

.popular .popular-bottom .infor .desc {
    font-size: 1.4rem;
    line-height: 1.85; /* 185.714% */
    margin-top: 6px;
}

.popular .book-now {
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular .book-now .price {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66; /* 166.667% */
}

.popular .book-now .btn:hover {
    background-color: var(--primary-color);
    color:#ffff;
    cursor: pointer;
}

/* comment */
.comment {
    margin-top: 135px;
    padding: 96px 0;
    background: #2E2100;
}

.comment .list-sub {
    display: flex;
    overflow: hidden;
}

.comment .sub-comment {
    display: flex;
    flex-shrink: 0;
    width: 100%;
}

.comment .sub-comment .avatar {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    object-fit: cover;
}

.comment .sub-comment .title {
    margin-top: 18px;
    font-family:var(--font-family);
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.41; 
}

.comment .sub-comment .desc {
    margin: 4px 0 28px 0;
    color: #BFBCB2;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85; /* 185.714% */
}

.comment .sub-comment .dot {
    cursor: pointer;
    display: inline-block;
    margin-right: 6px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #634700;
}

.comment .sub-comment .dots .active {
    background-color: var(--primary-color);
    cursor: default;
}

.comment .sub-comment .sub-right {
    width: 66%;
    margin-left: auto;
}

.comment .sub-comment .sub-right .desc {
    margin-left: 30px;
    font-style: italic;
    color: #FFF;
    font-size: 2.6rem;
    font-weight: 400;
    line-height: 1.53; /* 153.846% */
}

/* features */
.features-one {
    margin-top: 135px;
    padding: 65px 0;
}

.features-one .sub-features {
    display: flex;
}

.features-one .sub-left {
    display: flex;
    gap: 0 30px;
}

.features-one .sub-right {
    width: 41%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    margin-left: auto;
    justify-content: center;
}

.features-one .sub-left img {
    border-radius: 16px;
    width: 270px;
    height: 404px;
    object-fit: cover;
}

.features-one .sub-left .lower {
    margin-top: 34px;
}

.features-one .sub-right .desc {
    margin-top: 16px;
}

.features-one .sub-right  .cta-btn {
    margin-top: 32px;
    background-color: var(--primary-color);
    min-width: 137px;
    color: #FFF;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75; /* 175% */
}


